*{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color:#ffaf40;
    display:flex;
}

#navbar-my-name{
    font-size:50px;
    color:red;
    padding-left:20px;
    width:25%;
    height:100%;
    border-right:dotted;
    border-right-color:black;
}

#navbar-buttons{
    display:flex;
    width:100%;
    height:auto;
    margin-top:auto;
    margin-bottom:auto;
    justify-content:flex-end;
}

#navbar-buttons li{
    list-style-type:none;
    margin-right: 50px;
}

.navbar-button a{
    text-decoration:none;
    padding:10px 10px 10px 10px;
    border-radius:5px;
    color:black;
}

.navbar-button a:link,
.navbar-button a:visited{
    background-color:white;
}

.navbar-button a:hover,
.navbar-button a:active{
    background-color: #808080;
}