*{
    margin:0;
    padding:0;
}

body{
    background-color:#c7c6c5;
    color:black;
    font-family: "Rubik", sans-serif;
}

#category-selector{
    position:absolute;
    width:100%;
}

#category-list{
    display:flex;
    justify-content:center;
    text-align: center;
    list-style-type:none;
}

.category{
    margin-top:10px;
    vertical-align:top;
    border-radius:5px;
    border-style: solid;
    border-color:white;
    margin-right:10px;
    margin-left:10px;
    white-space:nowrap;
    width:100%;
    height:min-content;
}

.category-header{
    padding:10px;
    text-align:center;
    background-color: white;
}

.project-list{
    list-style-type:none;
}

.project-title{
    text-align:center;
    color:black;
    border-top:solid;
    padding:10px;
    background-color: white;
}

#project-body{
    width:50%;
    margin:auto;
    margin-top: 100px;
    margin-bottom:100px;
}

#back-to-top-button{
    text-decoration:none;
    padding:10px 10px 10px 10px;
    border-radius:5px;
    color:black;
    font-size:20px;
    position:fixed;
    bottom:5vh;
    right:5vw;
    background-color:white;
}

#back-to-top-button:link,
#back-to-top-button:visited{
    background-color:white;
}

#back-to-top-button:hover,
#back-to-top-button:active{
    background-color: #808080;
}