#project-header{
    text-align: center;
    font-size:40px;
    margin-bottom:20px;
}
#project-files{
    width:100%;
    text-align: center;
    margin-bottom:20px;
}

#project-files-link{
    text-decoration:none;
    padding:10px 10px 10px 10px;
    border-radius:5px;
    font-size:20px;
    color:black;
}

#project-files-link:link,
#project-files-link:visited{
    background-color:white;
}

#project-files-link:hover,
#project-files-link:active{
    background-color: #808080;
}

#project-summary-header{
    text-align: center;
    font-size:30px;
    margin-bottom:10px;
}

#project-summary-body{
    text-indent:20px;
    font-size:20px;
    margin-bottom:20px;
}

#project-demo-video{
    width:100%;
    margin-bottom:50px;
}

#scroll-text{
    position:fixed;
    top:90vh;
    right:5vw;
    text-align: center;
    font-size:20px;
    margin-bottom:100px;
}

#project-details{
    text-indent:20px;
    font-size:20px;
    margin-bottom:200px;
}

#project-details p{
    margin-bottom:10px;
}

#box-collider-inspector-with-tool{
    float:right;
    width:50%;
    margin-top:30px;
    margin-bottom:30px;
}

#box-collider-inspector-without-tool{
    float:left;
    width:50%;
    margin-top:30px;
    margin-bottom:30px;
}

#auto-box-2d-step0{
    float:left;
    width:45%;
    border-style:solid;
    border-color:black;
    margin-bottom:20px;
}

#auto-box-2d-step1{
    float:right;
    width:45%;
    border-style:solid;
    border-color:black;
    margin-bottom:20px;
}

#auto-box-2d-step2{
    float:left;
    width:45%;
    border-style:solid;
    border-color:black;
    margin-bottom:20px;
}

#auto-box-2d-step3{
    float:right;
    width:45%;
    border-style:solid;
    border-color:black;
    margin-bottom:20px;
}

#auto-box-2d-step4{
    width:45%;
    display: table;
    margin: 0 auto;
    text-align: center;
    border-style:solid;
    border-color:black;
    margin-bottom:20px;
}